.root {
    -fx-background-color: #3131b9;
}

.label {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-text-alignment: center;
    -fx-alignment: center;
}

#questionLbl {
    -fx-wrap-text: true;
    -fx-min-height: -fx-computed-size;
    -fx-pref-height: -fx-computed-size;
    -fx-max-height: -fx-computed-size;
    -fx-max-width: 590px;
}

#helpDisplayLbl {
    -fx-wrap-text: true;
    -fx-min-height: -fx-computed-size;
    -fx-pref-height: -fx-computed-size;
    -fx-max-height: -fx-computed-size;
    -fx-max-width: 590px;
    -fx-padding: 5px;
}

.button {
    -fx-pref-width: 250px;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-border: none;
    -fx-background-color: #000000;
    -fx-padding: 10px;
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #232323;
}

.radio-button {
    -fx-text-fill: white;
}

#submitBtn {
    -fx-pref-width: 150px;
    -fx-pref-height: 30px;
    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-padding: 3px;
    -fx-font-size: 23px;
    -fx-text-fill: #3131b9;
}

#quitToMenuBtn {
    -fx-text-fill: red;
    -fx-pref-width: 150px;
    -fx-pref-height: 30px;
    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-padding: 3px;
    -fx-font-size: 23px;
}

#showHelpResultBtn {
    -fx-pref-width: 100px;
    -fx-pref-height: 30px;
    -fx-font-size: 15px;
    -fx-padding: 3px;
    -fx-text-fill: #3131b9;
}

#resetHelpsBtn {
    -fx-pref-width: 100px;
    -fx-pref-height: 30px;
    -fx-font-size: 15px;
    -fx-padding: 3px;
    -fx-text-fill: #3131b9;
}

#continueBtn {
    -fx-pref-width: 150px;
    -fx-pref-height: 30px;
    -fx-font-size: 25px;
    -fx-padding: 3px;
    -fx-text-fill: #3131b9;
}

#playerTableView {
    -fx-background-color: #333333;
    -fx-text-fill: white;
}

#playerTableView .column-header-background {
    -fx-background-color: #1a2536;
}

#playerTableView .column-header {
    -fx-background-color: #1a2536; /* Match the background bar */
    -fx-border-color: #2e3d52;     /* Optional: subtle borders between columns */
    -fx-border-width: 0 1 0 0;     /* Border only on the right side of columns */
}

#playerTableView .column-header .label {
    -fx-text-fill: white;        /* Classic millionaire gold text */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: center;         /* Centers the text inside the header */
}
